// My Styles
// Colors 
$my-report-color: #447ABD;
$my-body-background-color: #f3f3f3;
$my-body-background-color: $white;
// Body
$body-background: $my-body-background-color;
$container-background: $my-body-background-color;
// Buttons 
$button-color: $my-report-color;
$button-color-alt: $medium-gray;
$button-font-weight: 400;
$button-margin: 0 0 $global-margin 0;
$button-background: $my-body-background-color;
$button-border: 2px solid $my-report-color;
$button-radius: $global-radius;
// For 4 grid boxes
@media only screen and (max-width: #{$global-breakpoint}) {
  .total-users-block {
    border-width: 10px 0px 0px 0 !important;
  }
  .total-lockunlock-block {
    border-width: 5px 0px 0px 0 !important;
  }
  .total-hours-block {
    border-width: 10px 0px 10px 0 !important;
  }
}